.navbar{
    background-color:black;
    text-align:center;
}
h1{
    color:white;
}
p{
    color:gray;
}
.container{
    text-align:center;
    padding:30px;
}
.card{
    width:200px;
    border:1px solid black;
    display:inline-block;
    margin:10px;
    text-align:center;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card p{
    color:gray;
}

.card button{
    background-color:black;
    color:white;
    padding:8px 15px;
    margin-bottom:10px;
    border:none;
}

.contact{
    background:black;
    color:white;
    text-align:center;
    padding:30px;
}

.contact table{
    margin:auto;
}

.contact input{
    padding:5px;
}

.send{
    background:yellow;
    border:none;
    padding:8px 200px;
    margin-top:10px;
}